    <!-- Contact Section -->
    <section id="contact" class="contact section  paper-texture">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps?q=Cosby%2C+TN&z=10&output=embed" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p>ASK FOR STREET, Cosby, TN 37722</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call or Text</h3>
                <p>
                  <a href="tel:+14237165546">423.716.5546</a>
                </p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>
                  <a href="mailto:SmokyMountainAcres+websitevisitor@gmail.com">
                    SmokyMountainAcres@gmail.com
                  </a>
                </p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <!-- Start Contact Form -->

          <div class="col-lg-8">
            <form
              name="contact"
              method="POST"
              data-netlify="true"
              class="php-email-form"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <input type="hidden" name="form-name" value="contact">

              <div class="row gy-4">

                <div class="col-md-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Your Name"
                    required
                  >
                </div>

                <div class="col-md-6">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    placeholder="Your Email"
                    required
                  >
                </div>

                <div class="col-md-12">
                  <select class="form-select" name="interest" required>
                    <option value="" selected disabled>What are you interested in?</option>
                    <option value="Kunekune">🐷 Kunekune Pigs</option>
                    <option value="Red Wattle">🐖 Red Wattle Pigs</option>
                    <option value="Chickens">🐔 Chickens</option>
                    <option value="Eggs">🥚 Eggs</option>
                    <option value="Raw Milk">🥛 Raw Milk</option>
                    <option value="Sheep">🐑 Sheep</option>
                    <option value="Pigs">🐽 Pigs</option>
                    <option value="Farm Tour">🚜 Farm Tour</option>
                  </select>
                </div>

                <div class="col-md-12">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    placeholder="Subject"
                    required
                  >
                </div>

                <div class="col-md-12">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="6"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->