<!-- Call To Action Section -->
<section id="call-to-action" class="call-to-action section dark-background">

  <div class="container">

    <div class="row" data-aos="zoom-in" data-aos-delay="100">
      <div class="col-xl-9 text-center text-xl-start">
        <h3>Come Experience Smoky Mountain Acres</h3>
        <p>Have a question about the farm, our animals, or future farm visits? Get in touch and we’ll help you with the details.</p>
      </div>
      <div class="col-xl-3 cta-btn-container text-center">
        <a class="cta-btn align-middle" href="/contact/">Contact Us</a>
      </div>
    </div>

  </div>

</section><!-- /Call To Action Section -->